# Main project .gitignore
*.DS_Store
*/node_modules/*
.vscode
*.env
*.toml
.idea
*/postgres-data/*
*/xwiki-data/*
# Ignore outline's build and config files
outline/outline/dist
outline/outline/build
outline/outline/node_modules/
outline/outline/.env*
outline/outline/*.log
outline/outline/.vscode/
outline/outline/data/
outline/outline/.idea
outline/outline/*.pem
outline/outline/*.key
outline/outline/*.cert
